@model UserRegisterModel

@{
    ViewBag.Title = "Register";
}

<form asp-controller="Account" asp-action="Register" method="post" class="register-form">
    <h1>Register</h1>

    <div class="form-group">
        <label>Username</label>
        <input asp-for="UserName" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-For="Email" class="form-control" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Repeat password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Re-enter password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="container mt-4 text-center">
        <button class="btn btn-secondary" type="submit">REGISTER</button>
        <p>Already have an account ? <a asp-controller="Account" asp-action="Login">Login</a></p>
    </div>
</form>