@model UserRegisterModel

<div class="container">
	<div class="about-div row bg-dark">
		<h3 class="about-heading text-center text-light">About us</h3>
		<p class="text-center text-light">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>
			tempor incididunt ut labore et dolore magna aliqua
		</p>
	</div>

	<!-- TODO refactor code so that the content below is withdrawn from the database
		ALSO introc
	-->

	<div class="row" style="justify-content: center">
		<div class="card text-center" style="width: 18rem; margin: 20px;">
			<div class="card-body">
				<h5 class="card-title">
					<i class="icon-el fa fa-lock" aria-hidden="true"></i>
					Security Services
				</h5>
				<p class="card-text">Computer security, cybersecurity, or information technology security is the protection of computer systems and networks from information disclosure, theft of, or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
			</div>
		</div>

		<div class="card text-center" style="width: 18rem; margin: 20px;">
			<div class="card-body">
				<h5 class="card-title">
					<i class="icon-el fa fa-user-secret" aria-hidden="true"></i>
					Data Privacy</h5>
				<p class="card-text">Data privacy, also called information privacy, is an aspect of data protection that addresses the proper storage, access, retention, immutability and security of sensitive data.</p>
			</div>
		</div>

		<div class="card text-center " style="width: 18rem; margin: 20px;">
			<div class="card-body">
				<h5 class="card-title">
					<i class="icon-el fa fa-industry" aria-hidden="true"></i>
					Industry Certified</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col">
			<div id="container-upper">
				<img class="rounded" src="https://www.wgu.edu/content/dam/web-sites/blog-newsroom/blog/images/national/2019/april/cybersecurity-int-the-news.jpg" alt="" title="" />
			</div>
			<div class="mt-3">
				<h3>We are open for Opportunities</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur <br />
					adipiscing elit. Ut elit tellus, luctus nec <br />
					ullamcorper mattis, pulvinar dapibus leo
				</p>
				<div class="mb-4">
					<a class="btn btn-info mb-5 text-decoration-none text-white" href="#" style="font-size:17px; font-family: 'Cousine', monospace;">
						VIEW CASES <i class="fa fa-arrow-right" aria-hidden="true" style="font-size:16px"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col">
			<h5 style="font-family: 'Hammersmith One', sans-serif;">Welcome to NoLink</h5>
			<h1 style="font-family: 'Changa', sans-serif;">
				The perfect solution to <br />
				all of your cyber concerns</h1>
			<p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br /> 
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br />	
				veniam, quis nostrud xercitation ullamco laboris nisi ut aliquip ex ea <br /> 
				commodo</p>
				<hr/>
			<div style="display:flex">
				<div style="margin-right:40px">
					<i class="fa fa-crosshairs mb-3" aria-hidden="true" style="font-size:50px; color: #1bbd1b;"></i>
					<h3>Our vision</h3>
					<p class="text-secondary">Lorem ipsum dolor sit amet, <br /> consecte adipiscing elit, sed do <br /> eiusmod tempor incididunt</p>
				</div>
				<div style="margin-left:40px">
					<i class="fa fa-check-circle mb-3" aria-hidden="true" style="font-size:50px; color: #1bbd1b;"></i>
					<h3>Our Mission</h3>
					<p class="text-secondary">Lorem ipsum dolor sit amet, <br /> consecte adipiscing elit, sed do <br /> eiusmod tempor incididunt</p>
				</div>
			</div>
			<div>
				<button class="btn btn-primary" style="margin:50px">GET A QUOTE</button>
			</div>
		</div>
		<hr />
		<div class="container mt-4">
			<div id="container">
				<img class="rounded" src="https://th.bing.com/th/id/R.8ecdb4de8728b58999f49a45e48a2fca?rik=35iflpHAmIRryw&riu=http%3a%2f%2feskify.com%2fwp-content%2fuploads%2f2017%2f08%2fBacklit_keyboard-1024x576.jpg&ehk=wC7cKdN6vS8zNupyDf%2byWhTqzaKf6nugVv02Hh5naAw%3d&risl=&pid=ImgRaw&r=0" style="width:100%; height:350px; filter:brightness(45%)" />
			</div>
			<div  class="centered row">
				<div class="col-4 text-center">
					<i id="img-icon" class="fa fa-globe text-light" aria-hidden="true"></i>
					<h3 id="img-title" class="text-light" data-target="1200">0</h3>

					<p style="color:darkgrey; font-weight:900">Cyber-security projects</p>
				</div>
				<div class="col-4 text-center">
					<i id="img-icon" class="fa fa-user text-light" aria-hidden="true"></i>
					<h3 id="img-title" class="text-light" data-target="1500">
						0
					</h3>
					<p style="color:darkgrey; font-weight:900">Clients  protected</p>
				</div>

				<div class="col-4 text-center">
					<i id="img-icon" class="fa fa-lock text-light" aria-hidden="true"></i>
					<h3 id="img-title" class="text-light" data-target="1000">
						0 <i class="fa fa-percent text-light" aria-hidden="true"></i>
					</h3>
					<p style="color:darkgrey; font-weight:900">Service guarantee</p>
				</div>
			</div>
		</div>
		<form class="mt-5 text-center bg-white" style="border: 1px solid white; border-radius: 4px;">
			<h1 style="text-align:center; color: black; font-size: 50px; font-family: 'Russo One', sans-serif;">Subscribe to our newsletter!</h1>
			<div class="form-group mx-sm-3 mb-2">
				<h1 for="email" class="sr-only mt-3 mb-3" style="font-family: 'Righteous', cursive; color:white; font-size: 50px">Email</h1>
				<input type="password" class="form-control mt-3 mb-1" id="inputPassword2" placeholder="Email" size="100" style="width:300px">
			</div>
			<button type="submit" class="btn btn-primary mt-3 mb-3">SUBSCRIBE!</button>
		</form>
	</div>
</div>


