@media screen and (max-wdith: 900px) {
    .centered {
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000000
}

#thumbnail {
    position:relative
}

.caption {
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-button{
    position: relative;
    top: 50px;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-div {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 200px;
  left: 50%;
  bottom: 17px;
}

.about-heading {
    position: relative;
    top: 45px;
}

.icon-el {
    position: relative;
    right: 5px;
    font-size: 26px;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    position: relative;
    margin: 0 auto;
}

#img-icon {
    font-size: 100px;
}

#container {
    margin: 20px;
    overflow: hidden; /* clip the excess when child gets bigger than parent */
}

#container img {
        display: block;
        transition: transform .4s; /* smoother zoom */
        width:100%

}

#container:hover img {
        transform: scale(1.3);
        transform-origin: 50% 50%;
}

#container-upper {
    position: relative;
    bottom: 20px;
    right: 20px;
    margin: 20px;
    overflow: hidden; /* clip the excess when child gets bigger than parent */
    border-radius: 3px;
}

#container-upper img {
     display: block;
     transition: transform .4s; /* smoother zoom */
     width: 100%
}

    #container-upper:hover img {
        transform: scale(1.3);
      transform-origin: 50% 50%;

    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#categories {
    position: relative;
    left: 5px;
    top: 0.5rem;
}

#services {
    position: relative;
    top: -0.04rem;
}

#home {
    position: relative;
}

#sign-up-img {
    position: relative;
    top: -25px;
    width: 380px;
    height: 300px;
    left: 60px;
}

.login-page {
    background-color: chartreuse
}

 #login-btn {
     position:relative;
     top: 30px;
     text-shadow: 2px 2px;
 }

 .text-container {
     position: relative;
     top: 25px;
 }

 #login-div {
     text-align: center;
     position: relative;
     top: 25px;
 }

.user-icon {
    position: relative;
    top: 5px;
    left: 30px;
    font-size: 25px!important;
}

.key-icon {
    position: relative;
    top: 33px;
    left: 30px;
    font-size: 25px !important;
}

#login-heading {
    text-shadow: 2px 2px 5px lightgreen;
}

.content-div {
    margin-top: 35px;
    display: grid;
}

.content-div a {
    color: firebrick;
}

.carousel-container {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
    bottom: 50px;
}

.carousel-container img {
    opacity: 0.6;
}

.nav-div li {
    font-family: 'Bungee', cursive;
}

.nav-item a:hover {
    color:aqua;
    font-size: 15px;
}


footer {
    background-color:white;
}

.card-container {
    margin: auto;
    width:350px;
    transition: .10s, transform .10s ease;
    -moz-transition: .10s, transform .10s ease;
    -webkit-transition: .10s, transform .10s ease;
}

.card-container:hover {
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari */
        transform: scale(1.01);
}

.chain-logo {
    font-size: 25px;
    margin-right: 10px;
}

.card-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.card-el {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.register-form, .login-form {
    color: #f9f9f9;
    width: 25%;
    margin: 0 auto;
}

.article-form {
    margin: 0 auto;
    width: 35%;
}

.carousel-inner {
    height:auto;
}

.article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 350px;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000);
    border-radius: 4px;
}

.article-container {
    margin: 0 auto;
    text-align: center;
    background-color:#ffffff;
    width: 800px;
}

    .article-container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:750px;
        height: 400px;
        filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000);
        border-radius: 4px;
        position:relative;
        top: 12px;
  }

.paragraph-element {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    overflow-y: scroll;
    height: 300px;
}

.search-icon {
    font-size: 25px !important;
    position: relative;
    right: 7px;
    top: 2px;
}
